<!DOCTYPE html>
<html lang="en" ng-app="solase">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Solase Massage & Oxygen Bar</title>
    <meta name="description" content="Solase Massage and Oxygen Bar. Breathe. Relax. Comfort. Serenity.">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--link icons for phones and tablets-->
    <link rel="apple-touch-icon" sizes="57x57" href="/assets/icons/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/assets/icons/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/assets/icons/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/assets/icons/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/assets/icons/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/assets/icons/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/assets/icons/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/assets/icons/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/assets/icons/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/assets/icons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="/assets/icons/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/assets/icons/favicon-16x16.png">
    <link rel="manifest" href="/assets/manifest.json">
    <!--end favicon-->

    <!--CSS Layouts-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.1.8/semantic.min.css" type="text/css" />
    <link rel="stylesheet" href="https://cdn.gitcdn.link/cdn/angular/bower-material/v1.1.0-rc4/angular-material.css" type="text/css" />
    <link rel="stylesheet" href="/assets/css/app.css" type="text/css" />
    <!--Base URL-->
    <base href="/">
  </head>
  <body ng-controller="RootCtrl" ng-cloak="">
    
    <!-- Following Menu -->
    <div class="ui large top fixed menu fade" scroll ng-show="boolChangeClass || $route.current.activetab !== 'home'">
      <div class="ui container">
        <div class="item">
          <img src="/assets/images/logo-icon-sm.png" alt="logo" style="height: 46px; width: 21px;">
        </div>
        <a href='#/' class="item" ng-class="{active: $route.current.activetab == 'home'}">Home</a>
        <a href='#/body' class="item" ng-class="{active: $route.current.activetab == 'body'}">Your Body</a>
        <a href='#/mind' class="item" ng-class="{active: $route.current.activetab == 'mind'}">Your Mind</a>
        <a href='#/skin' class="item" ng-class="{active: $route.current.activetab == 'skin'}">Your Skin</a>
        <a class="item" ng-click="show()">Membership</a>
        <div class="right menu">
          <a href="#/login" class="item" ng-if="!globals.currentUser">Sign In</a> 
          <a href="#/register" class="item" ng-if="!globals.currentUser">Sign Up</a>
          <a class=item ng-if="globals.currentUser" ng-click="globals.currentUser = null">Sign Out</a>
          <div class="item">
              <a href="https://clients.mindbodyonline.com/ws.asp?studioid=42936&stype=42&sLoc=0&giftCardID=174" class="ui slgreen-back button">Gift Cards</a>
          </div>
        </div>
      </div>
    </div>

    <!-- Sidebar -->
    <sidebar button-class="#openSidebar">
      <sidebar-item-group>
        <sidebar-link title="Home" href="#/" icon="home"></sidebar-link>
        <sidebar-link title="Body" href="#/body"></sidebar-link>
        <sidebar-link title="Mind" href="#/mind"></sidebar-link>
        <sidebar-link title="Skin" href="#/skin"></sidebar-link>
        <sidebar-link ng-if="!globals.currentUser" title="Sign In" href="#/login" icon="sign in"></sidebar-link>
        <sidebar-link ng-if="globals.currentUser" title="Sign Out" href="#/" icon="sign out"></sidebar-link>
      </sidebar-item-group>
    </sidebar>    

    <!-- Main Content -->
    <md-content class="pusher" flex="" layout-padding="">

      <a class="toc item" id="openSidebar" ng-class="{white: $route.current.activetab == 'home'}">
        <i class="sidebar icon"></i>
      </a>

      <div ng-view></div>
  <br/><br/>  
      <foot></foot>
  
    </md-content>
    
    <!--JS Files-->
    <script type="text/javascript" src="https://code.jquery.com/jquery-2.2.1.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.1.8/semantic.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.8/angular.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.8/angular-cookies.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.8/angular-route.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.8/angular-animate.min.js"></script>
    <script type="text/javascript" src="/assets/js/angular-modal-service.min.js"></script>
    <script type="text/javascript" src="/assets/js/angular-semantic-ui.min.js"></script>
    <script type="text/javascript" src="app/main.js"></script>
    <script type="text/javascript" src="app/services.js"></script>
    <script type="text/javascript" src="app/controllers.js"></script>
    <script type="text/javascript" src="app/directives.js"></script>
  </body>
</html>