/*  
    This is the CSS for the template for the Solase website
    Created by: B12 Studios
    Version 0.0.1
*/


/*  
    The base colors 
    Green = #B3D05F
    Blue = #99CCCC 
*/
    
.slgreen {
  color: #B3D05F !important;
}
.slgreen.dark {
  color: #869b47 !important;
}
.labeled .slgreen,
.slgreen.button {
  box-shadow: 0 0 0 2px #B3D05F !important;
}
.labeled .slgreen:hover,
.slgreen.button:hover {
  color: #869b47;
  box-shadow: 0 0 0 2px #869b47 !important;
}
.slgreen-back {
  background-color: #B3D05F !important;
}
.labeled .slgreen-back{
  box-shadow: 0 0 0 2px #B3D05F;
}

.slblue {
  color: #99CCCC !important;
}
.slblue.dark{
  color: #689999 !important;
}
.list.slblue,
.list.slgreen {
  font-weight: 600;
}
footer .list.slblue,
footer .list.slgreen {
  font-weight: 300;
}
.labeled .button .slblue,
.slblue.button {
  box-shadow: 0 0 0 2px #99CCCC;
}
.labeled .button .slblue:hover,
.slblue.button:hover {
  color: #689999;
  box-shadow: 0 0 0 2px #689999;
}
.slblue-back {
  background-color: #99CCCC !important;
}

.inverted-back {
  background: #1b1c1d !important;
}

.image.absolute {
  position: absolute;
  z-index: 0;
}
.hidden.menu {
  display: none;
}

.masthead.segment {
  min-height: 700px;
  padding: 1em 0em;
}
.masthead .logo.item img {
  margin-right: 1em;
}
.masthead .ui.menu .ui.button {
  margin-left: 0.5em;
}
.masthead h1.ui.header {
  margin-top: 3em;
  margin-bottom: 0em;
  font-size: 4em;
  font-weight: normal;
}

.masthead .header p.subtitle {
  font-size: .4em;
  margin: 0;
  padding: 0;
}

.masthead h2 {
  font-size: 1.7em;
  font-weight: normal;
}

.ui.vertical.stripe {
  padding: 8em 0em;
}
.ui.vertical.stripe h3 {
  font-size: 2em;
}
.ui.vertical.stripe .button + h3,
.ui.vertical.stripe p + h3 {
  margin-top: 3em;
}
.ui.vertical.stripe .floated.image {
  clear: both;
}
.ui.vertical.stripe p {
  font-size: 1.33em;
}
.ui.vertical.stripe .horizontal.divider {
  margin: 3em 0em;
}

.quote.stripe.segment {
  padding: 0em;
}
.quote.stripe.segment .grid .column {
  padding-top: 5em;
  padding-bottom: 5em;
}

.footer.segment {
  padding: 5em 0em;
}

.secondary.pointing.menu .toc.item {
  display: none;
}

@media only screen and (max-width: 700px) {
  .image.absolute {
    display: none !important;
  }
  .ui.fixed.menu,
  .ui.fixed.hidden.menu {
    display: none !important;
  }
  .secondary.pointing.menu .item,
  .secondary.pointing.menu .menu {
    display: none;
  }
  .secondary.pointing.menu .toc.item {
    display: block;
  }
  .masthead.segment {
    min-height: 350px;
  }
  .masthead h1.ui.header {
    font-size: 2em;
    margin-top: 1.5em;
  }
  .masthead h2 {
    margin-top: 0.5em;
    font-size: 1.5em;
  }
  .toc.item {
    visibility: visible !important;
  }
  .toc.item.white {
    color: #fff;
  }
  .toc.item.white:hover {
    color: #999;
  }
}
.toc.item {
  visibility: hidden;
  position: absolute;
  top: 1.5rem;
  left: 1.5rem;
  font-size: +1.25rem;
  z-index: 9999;
}
.tabular.menu item {
  cursor: pointer;
}
.fade {
  transition: 0.2s linear all !important;
}
.fade.ng-hide {
  opacity: 0;
}
.ui.label {
  background-color: #fff;
}
.layout-padding, .layout-padding-gt-sm, .layout-padding-md, .layout-padding > *, .layout-padding-gt-sm > *, .layout-padding-md > *, .layout-padding > .flex, .layout-padding > .flex-gt-sm, .layout-padding > .flex-md {
  padding: 0px;
}
.text.large{
  font-size: +1.5rem;
}
@media only screen and (min-width: 701px) {
  .ui.modal>.close {
    cursor: pointer;
    position: absolute;
    top: 0.5rem;
    right: 0.5rem;
    z-index: 1;
    opacity: .8;
    font-size: 1.25em;
    color: #333;
    width: 2.25rem;
    height: 2.25rem;
    padding: .625rem 0 0;
  }
  .form {
    margin-top: 10%;
    margin-bottom: 7%;
  }
}
html.ios {
  overflow-x: hidden;
  -webkit-overflow-scrolling: touch;
}
html.ios,
html.ios body {
  height: initial !important;
}
.ui.form input[type=phone] {
  font-family: Lato,'Helvetica Neue',Arial,Helvetica,sans-serif;
  margin: 0;
  outline: 0;
  -webkit-appearance: none;
  tap-highlight-color: rgba(255,255,255,0);
  line-height: 1.2142em;
  padding: .67861429em 1em;
  font-size: 1em;
  background: #fff;
  border: 1px solid rgba(34,36,38,.15);
  color: rgba(0,0,0,.87);
  border-radius: .28571429rem;
  box-shadow: 0 0 0 0 transparent inset;
  -webkit-transition: color .1s ease,border-color .1s ease;
  transition: color .1s ease,border-color .1s ease;
}