<footer class="ui inverted vertical footer segment">
  <div class="ui container slgreen">
    <div class="ui stackable inverted devided equal height stackable grid">
      
      <div class="three wide column">
        <h4 class="ui inverted header slgreen">About</h4>
        <div class="ui inverted link list">
          <a href class="item slgreen"><i class="mail icon slgreen"></i> Contact Us</a>
          <div class="item slgreen"><i class="phone square icon"></i> 801.802.0113</div>
          <a href class="item slgreen"><i class="facebook square icon slgreen"></i> Facebook</a>
        </div>
      </div>
      
      <div class="seven wide column">
        <h4 class="ui inverted header slblue">Store Hours</h4>
        <div class="ui inverted list slblue">
          <div class="item">
            Monday - Friday<br>10:30 AM - 8:00 PM
          </div>
          <div class="item">
            Saturday<br>9:00 AM - 8:00 PM
          </div>
          <div class="item">Closed Sunday</div>
        </div>
      </div>
      
      <div class="three wide column">
        <h4 class="ui inverted header slgreen">Location</h4>
<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3042.3322687764703!2d-111.71203528494102!3d40.31278276987932!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x874d8528f2df8cb3%3A0xb98bd54860e0a8ea!2s432+West+800+North%2C+Orem%2C+UT+84057!5e0!3m2!1sen!2sus!4v1509470831397" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>      </div>
      
    </div>
  </div>
  <div class="ui center aligned container">
    <div class="ui inverted section divider"></div>
    <div class="ui horizontal inverted small divided link list">
      <div class="item">&copy; 2016. All Rights Reserved.</div>
      <a href class="item">Site Map</a>
      <a href class="item">Contact Us</a>
      <a href class="item">Privacy Policy</a>
    </div>
  </div>
</footer>