<div class="ui modal">
  <i class="close icon"></i>
  <div class="header">
    Membership
  </div>
  <div class="image content">
    <div class="ui big image">
      <img src="./assets/images/AdobeStock_62866074.png">
    </div>
    <div class="description">
      <div class="ui header">Monthly Benefits</div>
      <p><span class="text large slgreen dark">60 minutes</span> for any massage or facial.</p>
      <p><span class="text large slblue dark">30 minutes</span> at the oxygen bar.</p>
      <p><span class="text large slgreen dark">60 minutes</span> in the massage chair.</p>
      <p><span class="text large slblue dark">2</span> 15% off for friends and family coupons.</p>
      <p><span class="text large slgreen dark">UNLIMITED</span> 25% off all services.</p>
      <p>Individual monthly membership is only <span class="text large slblue dark">$49/month</span> which includes all the benefits for the Solase membership. Or sign up for our Membership for two and get all the benefits doubled for just <span class="text large slgreen dark">$92/month</span>. That is a savings of $9 per month from the regular membership.</p>
      <p>For terms and conditions <a href="#/terms">click here.</a></p>
    </div>
  </div>
  <div class="actions">
    <a href="#/register" class="ui slgreen-back right labeled icon button">
      Sign me up!
      <i class="checkmark icon"></i>
    </a>
  </div>
</div>