<!-- Following Menu -->
<div class="ui large top fixed menu" ng-class="{hidden: $route.current.activeTab == 'home'}">
  <div class="ui container">
    <div class="item">
      <img src="assets/images/logo-icon-sm.png" alt="logo" style="height: 46px; width: 21px;">
    </div>
    <a href='#/' class="item" ng-class="{active: $route.current.activeTab == 'home'}">Home</a>
    <a href='#/body' class="item" ng-class="{active: $route.current.activeTab == 'body'}">Your Body</a>
    <a href='#/mind' class="item" ng-class="{active: $route.current.activeTab == 'mind'}">Your Mind</a>
    <a href='#/skin' class="item" ng-class="{active: $route.current.activeTab == 'skin'}">Your Skin</a>
    <a class="item">Membership</a>
    <div class="right menu">
      <div class="item">
          <a class="ui slgreen-back button">Gift Cards</a>
      </div>
    </div>
  </div>
</div>

<!-- Sidebar Menu -->
<div class="ui vertical inverted sidebar menu">
  <a href='/' class="item" ng-class="{active: $route.current.activeTab == 'home'}">Home</a>
  <a href='/body.html' class="item" ng-class="{active: $route.current.activeTab == 'body'}">Your Body</a>
  <a href='/mind.html' class="item" ng-class="{active: $route.current.activeTab == 'mind'}">Your Mind</a>
  <a class="item" ng-class="{active: $route.current.activeTab == 'skin'}">Your Skin</a>
  <a class="item">Membership</a>
  <a class="item">Gift Cards</a>
</div>