<div class="ui vertical inverted sidebar menu">
  <a href='#/' class="active item">Home</a>
  <a href='#/body' class="item">Your Body</a>
  <a href='#/mind' class="item">Your Mind</a>
  <a href='#/skin' class="item">Your Skin</a>
  <a ng-click="show()" class="item">Membership</a>
  <a href="https://clients.mindbodyonline.com/ws.asp?studioid=42936&stype=42&sLoc=0&giftCardID=174" class="item">Gift Cards</a>
</div>
