<div style="margin-top: 5%;">

  <!-- Page Title -->
  <div class="ui center aligned stackable grid container">
    <h1 class="ui header slblue dark" style="font-size: +3.25rem">
      Your Body
    </h1>
  </div>
  
  <!-- Page Content -->
  <div class="ui middle aligned stackable grid container">
    
    <div class="row">
      <!-- Left column -->
      <div class="eight wide column">
        <h3 class="ui header slgreen dark">Relaxation Massage</h3>
        <p>We customize each massage to perfectly match the needs of each client at any pressure, including deep. We use classic massage techniques to relieve muscle tension, increase circulation, and promote general relaxation. Perfect for those needing a mental and physical refresh.</p>
        <div class="ui horizontal divided list slblue dark">
          <div class="item">30 Minutes $41</div>
          <div class="item">60 Minutes $66</div>
          <div class="item">90 Minutes $91</div>
        </div>
        <h3 class="ui header slgreen dark">Hot Stone Therapy</h3>
        <p>Heated volcanic stones, massaged gently into the muscles, create a deep sense of relaxation. Specific placement of heated stones on energy zones also calm and sooth a tired soul. This massage is highly recommended for those who are looking to mentally travel into a deeper realm of relaxation.</p>
        <div class="ui horizontal divided list slblue dark">
          <div class="item">60 Minutes $70</div>
          <div class="item">90 Minutes $95</div>
        </div>
        <h3 class="ui header slgreen dark">Body Glow Massage</h3>
        <p>A dry loofah-mitt scrub is followed by a moisturizing body massage to leave your skin with a silky smooth finish, and your body with all the rest and relaxation from a traditional massage. The body glow is a perfect preparation for any big event, or for sheer indulgence.</p>
        <div class="ui horizontal divided list slblue dark">
          <div class="item">60 Minutes $68</div>
          <div class="item">90 Minutes $93</div>
        </div>
      </div>
      <!-- Right Column-->
      <div class="six wide right floated column">
        <img src="./assets/images/hot_stone.jpg" class="ui medium bordered image">
      </div>
      
      <div class="fourteen wide column">
        <br>
        <h3 class="ui header slgreen dark">Thai-Shiatsu</h3>
        <p>Make sure to wear loose comfortable clothing for this traditional Eastern-style massage. We practice this massage on the floor. Our therapists will stretch your limbs with range of motion and passive stretches. Also using thumb pressure to trace the different meridians that give your body the life sustaining energy it needs. There is nothing more invigorating than shiatsu! Shiatsu is also perfect for those who want full body therapy while maintaining a high level of modesty.</p>
        <div class="ui horizontal divided list slblue dark">
          <div class="item">60 Minutes $68</div>
          <div class="item">90 Minutes $93</div>
        </div>
      </div>
      
      <!-- Left Column -->
      <div class="six wide column">
        <img src="./assets/images/the_foot.jpg" class="ui medium bordered image">
      </div>
      
      <!-- Right Column -->
      <div class="eight wide column">
        <h3 class="ui header slgreen dark">Reflexology</h3>
        <p>Reflex zones on the hands and feet specifically correlate with energy in the whole body. We work on these zones to create whole-body balance and relaxation.</p>
        <div class="ui horizontal divided list slblue dark">
          <div class="item">30 Minutes $43</div>
          <div class="item">60 Minutes $68</div>
        </div>
        <h3 class="ui header slgreen dark">Headache Helper</h3>
        <p>Our highly trained therapists will work on common headache trigger-points in the neck, shoulders, face and head to alleviate cranial pressure. Receiving this massage with regularity will benefit any chronic headache sufferer.</p>
        <div class="ui horizontal divided list slblue dark">
          <div class="item">30 Minutes $43</div>
          <div class="item">60 Minutes $68</div>
        </div>
        <h3 class="ui header slgreen dark">Maternity Massage</h3>
        <p>This massage is specifically designed to help alleviate the unique aches and pains of an adjusting body. We use special pregnancy bolsters to accommodate mother’s growing form, to help her find comfort and relief in her ever-changing physical state.</p>
        <div class="ui horizontal divided list slblue dark">
          <div class="item">30 Minutes $41</div>
          <div class="item">60 Minutes $66</div>
          <div class="item">90 Minutes $91</div>
        </div>
      </div>
      
      <div class="fourteen wide column">
        <h3 class="ui header slgreen dark">Sports Massage</h3>
        <p>We’ll energize and stimulate your muscles so that they are ready to go for your big event! After strenuous work, we will use techniques that reduce recovery time and prevent any long lasting injury side effects. Get back on your game with specific care for your injuries. We can help the recovery of injured muscles and tendons to give you higher functioning mobility, reduction in pain and swelling, and a speedier recovery time. This massage is great for any type of athletic stress placed on the body system.</p>
        <div class="ui horizontal divided list slblue dark">
          <div class="item">30 Minutes $43</div>
          <div class="item">60 Minutes $68</div>
          <div class="item">90 Minutes $93</div>
        </div>
        <h3 class="ui header slgreen dark">Massage Chair</h3>
        <p>Enjoy our fabulous mechanical massage chair when you need that quick rejuvenation. You'll be surprised at the whole-body relief you'll feel.</p>
        <div class="ui horizontal divided list slblue dark">
          <div class="item">15 Minutes $10</div>
          <div class="item">30 Minutes $15</div>
          <div class="item">45 Minutes $20</div>
        </div>
      </div>
    </div>
    
  </div>
</div>