<div class="ui inverted vertical masthead center aligned segment">

  <div class="ui container">
    <div class="ui large secondary inverted pointing menu">
      <a href='#/' class="active item">Home</a>
      <a href='#/body' class="item">Your Body</a>
      <a href='#/mind' class="item">Your Mind</a>
      <a href='#/skin' class="item">Your Skin</a>
      <a class="item" ng-click="show()">Membership</a>
      <div class="right item">
        <a href="#/login" class="item" ng-if="!globals.currentUser">Sign In</a> 
        <a href="#/register" class="item" ng-if="!globals.currentUser">Sign Up</a> 
        <a class=item ng-if="globals.currentUser" ng-click="globals.currentUser = null">Sign Out</a>
        <a class="ui inverted-back slblue button">Gift Cards</a>
      </div>
    </div>
  </div>
  
  <!-- Masthead -->
  <div class="ui text container">
    <h1 class="ui inverted header">
      <img class="ui mini floated image" src="assets/images/logo-icon.png" alt="Solase Massage and Oxygen Bar" style="margin-left: 15rem; margin-right: -5rem;padding-right: 5px;">
      <span style="padding-right: 14rem;">Solase</span>
      <p class="subtitle slgreen" style="margin-top: -.7rem; padding-right: 4rem;">Massage & Oxygen Bar {{test}}</p>
      <p class="subtitle slblue" style="padding-left: 5rem; font-size: .5em; margin-bottom: 1rem;">relaxation. comfort. serenity.</p>
    </h1>
    <div class="ui huge slgreen-back button" ng-click="show()">
      <i class="write icon"></i>Learn about membership!
    </div>
  </div>
  
</div>
  
<!-- Section One -->
<div class="ui vertical stripe segment">
  <div class="ui aligned stackable grid container">
    <div class="row">
      
      <!-- Left Column -->
      <div class="eight wide column">
        <h3 class="ui header slgreen dark">
          Welcome to Solase
        </h3>
        <p>At Solase Massage our goal is your comfort. It is all about you at Solase Massage. Our serene atmosphere is dedicated to your relaxation and enjoyment.</p>
        <!-- floating Image -->
        <img class="ui small image absolute" src="assets/images/flower.png" alt="flower" style="top: 15em;left: 28rem;">
      
        <p>We offer a wide range of services to fit the individual needs of your body (massage therapy services), your mind (the oxygen bar), and your skin (aesthetician services).</p>
        
        <p class="slblue dark" style="text-align: center; font-size: 1.9em; font-weight: 600">breathe in.</p>
      </div>
      
      <!-- right column -->
      <div class="six wide right floated column">
        <img src="assets/images/massage_male.png" class="ui big bordered rounded image">
      </div>

    </div>
  </div>
</div>

<!-- Quotes & Reviews -->
<div class="ui vertical stripe quote segment">
  <div class="ui equal width stackable internally celled grid">
    <div class="center aligned row">
      <div class="column">
        <h3 class="slgreen dark">&quot;I had the best massage, ever!&quot;</h3>
        <p>&mdash; Example Review</p>
      </div>
      <div class="column">
        <h3 class="slblue dark">&quot;The hot stone was such a nice way to end my day.&quot;</h3>
        <p>&mdash; Reviewer38</p>
      </div>
    </div>
  </div>
</div>

<!-- Section Three -->
<div class="ui vertical strip segment">
  <div class="ui aligned stabkable grid container">
    <h1 class="ui header slblue dark" style="margin-top: 1rem;">Services Offered</h1>
    <img class="ui right floated image absolute" src="assets/images/stones.png" style="height: 250px; left: 70%; top: 25px">
    <div class="three column row">
      <div class="column">
        <div class="ui list">
          <h4 class='header slgreen dark'>Aesthetician Services</h4>
          <div class="item">Facials</div>
          <div class="item">Facial Waxing</div>
          <div class="item">Body Waxing</div>
          <div class="item">Bikini/Brazilian Waxing</div>
          <div class="item">Eyelash Tinting</div>
        </div>
      </div>
      <div class="column">
        <div class="ui list">
          <h4 class="header slgreen dark">Massage Therapy Services</h4>
          <div class="item">Relaxation Massage</div>
          <div class="item">Hot Stone Massage</div>
          <div class="item">Body Glow Massage</div>
          <div class="item">Thai-Shiatsu Massage</div>
          <div class="item">Reflexology Massage</div>
          <div class="item">Headache Helper Massage</div>
          <div class="item">Maternity Massage</div>
          <div class="item">Sports Massage</div>
        </div>
      </div>
      <div class="column">
        <div class="ui list">
          <h4 class="header slgreen dark">Other Services</h4>
          <div class="item">Oxygen Bar</div>
          <div class="item">Massage Chairs</div>
          <div class="item">On-Sites</div>
        </div>
      </div>
    </div>
  </div>
  <br/>
</div>