<div style="margin-top: 5%;">

  <div class="ui form container">
    <h2 class="ui header slgreen dark">Login</h2>
    <form name="form" ng-submit="vm.login()" role="form" class="ui segment">
      <div class="field required" ng-class="{ error: form.username.$dirty && form.username.$error.required }">
        <label for="username">Username</label>
        <input type="text" name="username" id="username" placeholder="Username" ng-model="vm.username">
        <span ng-show="form.username.$dirty && form.username.$error.required" class="ui error message">Username is required</span>
      </div>
      <div class="field required" ng-class="{ error: form.password.$dirty && form.password.$error.required }">
        <label for="password">Password</label>
        <input type="password" name="password" id="password" ng-model="vm.password">
        <span ng-show="form.password.$dirty && form.password.$error.required" class="ui error message">Password is required</span>
      </div>
      <div class="field">
        <button type="submit" ng-disabled="form.$invalid || vm.dataLoading" class="ui submit button">Login</button>
        <a href="#/register" class="ui button slblue-back">Register</a>
      </div>
    </form>
  </div>

</div>