<div style="margin-top: 5%;">

  <!-- Page Title -->
  <div class="ui center aligned stackable grid container">
    <h1 class="ui header slblue dark" style="font-size: +3.25rem">
      Your Mind
    </h1>
  </div>
  
  <!-- Page Content -->
  <div class="ui middle aligned stackable grid container">
    
    <div class="ui top attached tabular menu">
      <div class="item" ng-class="{active:tab === 1}" ng-click="tab = 1">Why Oxygen Bar</div>
      <div class="item" ng-class="{active:tab === 2}" ng-click="tab = 2">How Does It Work</div>
      <div class="item" ng-class="{active:tab === 3}" ng-click="tab = 3">History</div>
    </div>
    
    <div class='row' ng-show="tab === 1">

      <!--Left Column-->
      <div class="five wide column">
        <div class="ui medium bordered image">
          <div class="ui bottom attached label">
            <h3 class="slblue dark">Oxygen Bar</h3>
            <div class="ui horizontal divided list slgreen dark">
              <div class="item">10 Min. $10</div>
              <div class="item">15 Min. $15</div>
              <div class="item">20 Min. $20</div>
            </div>
            <p>Click to add to cart.</p>
          </div>
          <img src="./assets/images/01-2.jpg">
        </div>
      </div>
      
      <!--Right Column-->
      <div class="nine wide right floated column">
        <h3 class="ui header slgreen dark">What are Oxygen Bars All About?</h3>
        <p>Breathing in concentrated oxygen has the ability to not only leave you feeling rejuvenated it also has many health benefits. These include boosting your immune system, relaxation and even the ability to alleviate migraine headaches and hangovers. Other advantages that using oxygen offers include relief of altitude discomfort, improved muscle stiffness and support for pre-athletic performance and post-athetic recovery. Once you begin breathing in the fresh oxygen you’ll begin to feel more energized and alert. It’s also proven to improve your concentration and memory. Many Massage Therapists will recommend its use after a particularly soothing massage to help you regain focus before driving away, to limit the 'floaty' feeling associated with massage.</p>
        <p>Occasionally people ask, "Can I get high off this?" Each person will feel slightly different effects, but the answer is No you can't get high, your mind is still fully functional and you’re safe to undertake any activity. Some people relate the 'heady' sensation to what you might feel while hiking a mountain. It is usually just a subtle effect. You can come get relaxed, increased your endurance, lessen your recovery time, or just have fun with it.</p>
      </div>
      
    </div>
    
    <div ng-show="tab === 2" class="row">
      <h3 class="ui header slgreen dark">How Does the Oxygen Bar Work?</h3>
      <p>A healthy individual takes in approximately 21% oxygen from the air they breathe. It has been claimed by alternative medicine that the human body is oxygen-deprived, especially with such rampant air pollution, and so more oxygen will help red blood cells remove toxins and heighten brain function. (Of course, this has not been FDA approved or validated.)</p>
      <p>When you choose to use the Oxygen bar, you will be handed a nose cannula that you put in your nostrils and then slide behind your ears to hold it in place. Then oxygen is intaken from the ambient air by an oxygen generator, which cleanses and concentrates the oxygen to 92%-98% before pumping it through food-grade aroma 'infusion canisters' and then into your nose cannula. There are more than sixteen scents available... pumpkin pie, beach, mango madness, chocolate, watermelon, and many more.</p>
      <p>Our personal Oxygen Bar uses popular aromatherapies such as mandarin orange, lavender and eucalyptus and infuses them into the pure oxygen that is being generated at 6 liters of oxygen per minute. The concentrated flavored oxygen leaves you with a great sense of well-being.</p>
      <p>Approximately twenty minutes a day is the recommended use, although the oxygen bar is available in increments of five minutes.</p>
    </div>
    
    <div class="row" ng-show="tab === 3">

      <div class="eight wide column">
        <h3 class="ui header slgreen dark">History of the Oxygen Bar.</h3>
        <p>There is some debate about the origins of the oxygen bar. Some say they were invented for the nightclubs of Japan, others claim the first oxygen bar opened Canada, while still others suggest versions of oxygen bars have existed since the 1700's! At any rate, they have gained in popularity in the last few decades, quickly moving to major cities.</p>
        <p>Oxygen bars can now be found throughout the United States at nighclubs and casinos, salons and spas, health clubs and resorts, tanning salons, restaurants and bars, airports, ski chalets, yoga studios, and chiropractors. Often oxygen bars are rented for big parties, corporate events, and trade shows.</p>
      </div>

      <div class="six wide right floated column">
        <img src="assets/images/breathe_female.png" class="ui medium image"></img>
      </div>

    </div>
    
  </div>
  
</div>