<div style="margin-top: 5%;">

  <!-- Page Title -->
  <div class="ui center aligned stackable grid container">
    <h1 class="ui header slblue dark" style="font-size: +3.25rem">
      Your Skin
    </h1>
  </div>
  
  <!-- Page Content -->
  <div class="ui middle aligned stackable grid container">
    
    <div class="row">
      <p>At Solase our goal is your comfort. It is all about you at Solase. Our serene atmosphere is dedicated to your relaxation and enjoyment.</p>
      <p>We offer a wide range of services to fit the individual needs of your body(massages), your mind (the oxygen bar), and your skin (facials, chemical peels, tinting, and waxing).</p>
    </div>
    
    <div class="row">
      <div class="ui items">
        
        <div class="item">
          <div class="ui medium image">
            <img src="./assets/images/facial.jpg"></img>
          </div>
          <div class="content">
            <div class="ui header slgreen dark">Facial</div>
            <div class="meta">
              <form name="optionsForm" class="item ui labeled input">
                <label for="dropdown" class="ui basic label slblue dark">Duration</label>
                <select class="ui basic dropdown" name="dropdown" ng-model="data.duration" >
                  <option value="41.00">30 Minutes</option>
                  <option value="59.00">60 Minutes</option>
                </select>
                <div class="item slblue dark ui basic label" ng-show="data.duration">
                  {{data.duration|currency}}
                </div>
              </form>
            </div>
            <div class="ui top attached tabular menu">
              <a class="item" ng-class="{active:tab_a === 1}" ng-click="tab_a = 1">About</a>
              <a class="item" ng-class="{active:tab_a === 2}" ng-click="tab_a = 2">What To Expect</a>
              <a class="item" ng-class="{active:tab_a === 3}" ng-click="tab_a = 3">After</a>
            </div>
            <div class="ui bottom attached tab segment" ng-class="{active:tab_a === 1}">
              <div class="description">
                <p>A facial cleans, exfoliates, and nourishes the skin to promote clear, well-hydrated skin. Facials remove excess dead skin, cleanse pores and blackheads, and gives the face a refreshing glow.</p>
              </div>
            </div>
            <div class="ui bottom attached tab segment" ng-class="{active:tab_a === 2}">
              <div class="description">
                <p>When you first arrive, your esthetician will consult with you about your skin. Your esthetician will determine if you have oily, dry, or combination skin. She'll ask if you're prone to  breakouts or redness. This will help the esthetician choose the appropriate products for your skin. Be sure to mention if there are certain products or ingredients that have irritated your skin.</p>
                <p>You'll disrobe to your comfort level. It's good to take off at least the top so she can massage your shoulders & arms, as well as applying creams to your face and neck. You will lie in your back on a facial table, with a blanket draped over you for modesty.</p>
              </div>
            </div>
            <div class="ui bottom attached tab segment" ng-class="{active:tab_a === 3}">
              <div class="description">
                <p>There's no need to go home and wash your face again. You can put make up on right away, or if it's evening you can just go to bed.</p>
              </div>
            </div>
          </div>
        </div>

        <div class="item">
          <div class="ui medium image">
            <img src="./assets/images/eyelash.png"></img>
          </div>
          <div class="content">
            <div class="ui header slgreen dark">Eyelash Tinting</div>
            <div class="meta">
              <form name="optionsForm" class="item ui labeled input">
                <label for="dropdown" class="ui basic label slblue dark">Our Price</label>
                <div class="item slblue dark ui basic label">
                  {{18.00|currency}}
                </div>
              </form>
            </div>
            <div class="ui top attached tabular menu">
              <a class="item" ng-class="{active:tab_b === 1}" ng-click="tab_b = 1">About</a>
              <a class="item" ng-class="{active:tab_b === 2}" ng-click="tab_b = 2">What To Expect</a>
              <a class="item" ng-class="{active:tab_b === 3}" ng-click="tab_b = 3">After</a>
            </div>
            <div class="ui bottom attached tab segment" ng-class="{active:tab_b === 1}">
              <div class="description">
                <p>Eyelash tinting will immediately make lashes look more pronounced and dramatic. This is the best eyelash treatment if you're happy with the look of your lashes, other than the color, and want to reduce the need for mascara. It's a quick and painless procedure using specially formulated and safe semi-permanent dye to tint your lashes. Unlike mascara, the effect is very natural.</p>
              </div>
            </div>
            <div class="ui bottom attached tab segment" ng-class="{active:tab_b === 2}">
              <div class="description">
                <p>Any make up is removed from the eye area. Its best to come without eye make up on, it makes the process quicker and also helps the dye process. Vaseline is applied to surrounding skin to protect from color. Eyes are closed, the application of tint is carefully applied with a mascara wand for 10-15 minutes. Eyes are wiped with water and cotton pads.</p>
              </div>
            </div>
            <div class="ui bottom attached tab segment" ng-class="{active:tab_b === 3}">
              <div class="description">
                <p>You may wear additional make up if desired, but there are no major precautions. Tinting should last up to 4 weeks, gradually fading over time.</p>
              </div>
            </div>
          </div>
        </div>
        
        <div class="item">
          <div class="ui medium image">
            <img src="./assets/images/waxing.jpg"></img>
          </div>
          <div class="content">
            <div class="ui header slgreen dark">Waxing</div>
            <div class="meta">
              <form name="optionsForm" class="item ui labeled input">
                <label for="dropdown" class="ui basic label slblue dark">Type</label>
                <select class="ui basic dropdown" name="dropdown" ng-model="data.waxing" >
                  <option value="13.00">Eyebrows</option>
                  <option value="8.00">Upper Lip or Chin</option>
                  <option value="22.00">Arms</option>
                  <option value="28.00">Legs Half</option>
                  <option value="53.00">Legs Full</option>
                  <option value="18.00">Underarms</option>
                  <option value="28.00">Bikini</option>
                  <option value="47.00">Brazilian</option>
                </select>
                <div class="item slblue dark ui basic label" ng-show="data.waxing">
                  {{data.waxing|currency}}
                </div>
              </form>
            </div>
            <div class="ui top attached tabular menu">
              <a class="item" ng-class="{active:tab_c === 1}" ng-click="tab_c = 1">About</a>
              <a class="item" ng-class="{active:tab_c === 2}" ng-click="tab_c = 2">What To Expect</a>
              <a class="item" ng-class="{active:tab_c === 3}" ng-click="tab_c = 3">After</a>
            </div>
            <div class="ui bottom attached tab segment" ng-class="{active:tab_c === 1}">
              <div class="description">
                <p>Waxing will last 4-6 weeks after.</p>
                <p>When preparing for bikini wax/brazilian, one big consideration is pain. You may want to take ibuprofen or asprin an hour before the wax to cut down on pain. This can also be applied to waxing other areas, but most areas aren't as intense for most people. You need to make sure your hair is the right length. The hair must be 1/4-1/2 inch long. If it's too long, the esthetician may have to trim as much as she can, but it may also result in being more painful. If it's too short, it may be hard or impossible to remove, which may result in going through the wax session with only some hair removed. It's recommended to shave about three weeks prior to getting the wax.  If you're going on vacation or waxing for a special occasion, it's suggested to wax 2-3 days before so the irritation will be gone.</p>
              </div>
            </div>
            <div class="ui bottom attached tab segment" ng-class="{active:tab_c === 2}">
              <div class="description">
                <p>Bikini wax- you may wear whatever underwear you'd like. We have you put on disposable underwear, because it is common wax will get on it.</p>
                <p>Brazillian- It is much easier for the esthetician if the client has no underwear so we can get the hair we need to.</p>
                <p>We ALWAYS have a towel draped around you for both services. The esthetician will only undrape the area that she is waxing at each time.</p>
                <p>Some people like to bring shorts for leg wax, but if not, we have you leave on your underwear and wrap a towel around you for modesty as well.</p>
              </div>
            </div>
            <div class="ui bottom attached tab segment" ng-class="{active:tab_c === 3}">
              <div class="description">
                <p>The skin may have redness or bumping, which can be helped by ice and/or a cold shower. Also applying aloe vera will help soothing. Exfoliating 3-4 days after the wax, then on a regular basis will help prevent ingrown hairs.</p>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
    
  </div>
  
</div>